body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  background-color: $white;
  color: $dark900;
}

.logo {
  flex-shrink: 0;
  border-radius: 3px;

  &__img {
    object-fit: cover;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn,
.btn--green,
.catalog__list,
.header__link,
.menu__link,
.catalog__item,
.catalog__item::before,
.catalog__link,
.catalog__btn,
.catalog__btn::after,
.navigation__link,
.navigation__link svg,
.logo,
.slick-arrow,
.slick-arrow__svg,
.cards__link,
.cards__img,
.footer__link,
.socials__link,
.products__card-heart,
.products__card-heart svg,
.filters__btn {
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s, opacity 0.3s, fill 0.3s;
}

.header__link:hover,
.menu__link:hover,
.cards__link:hover,
.socials__link:hover,
.footer__phone:hover,
.footer__location:hover {
  opacity: 0.7;
}

.header__link:focus,
.menu__link:focus,
.navigation__link:focus,
.logo:focus,
.cards__link:focus,
.socials__link:focus,
.footer__link:focus,
.footer__phone:focus,
.footer__location:focus {
  box-shadow: 0 0 0 3px $green100;
}

.header__link:active,
.menu__link:active,
.cards__link:active,
.socials__link:active,
.footer__phone:active,
.footer__location:active {
  color: $green200;
  opacity: 1;
  & svg {
    fill: $green200;
  }
}

.btn {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: $white;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: $green900;
  letter-spacing: 0.03em;
  &:hover{
    background-color: #4D810C;
  }
  &:active{
    color: rgba($white, 0.5);
    box-shadow: inset 0 4px 4px rgba($dark1000, 0.25);
  }
}

.btn:focus,
.filters__btn:focus {
  box-shadow: 0 0 0 4px $green200;
}

.btn--green {
  background-color: transparent;
  color: $green900;
  border: 1px solid $green900;
  &:hover{
    background-color: $green100;
  }
  &:focus{
    box-shadow: 0 0 0 4px rgba($green400, 0.5);
    color: $green900;
  }
  &:active{
    box-shadow: inset 0 10px 4px rgba($dark1000, 0.1);
    background-color: transparent;
  }
}

.btn--black {
  padding: 15px 52px;
  background-color: $dark800;
  font-size: 14px;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  &:hover{
    background-color: rgba($dark800, 0.75);
  }
  &:focus{
    box-shadow: 0 0 0 4px rgba($white, 0.5);
  }
  &:active{
    background-color: $dark800;
  }
}

.section {
  padding: 72px 0;
}

.section-title {
  @extend %ruda-600;
  font-size: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.filters {
  display: flex;
  justify-content: center;
  font-size: 15px;

  &__item {
    &:not(:last-child) {
      margin-right: 26px;
    }
  }

  &__btn {
    position: relative;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $dark500;
    text-transform: uppercase;
    padding-bottom: 2px;
    border-radius: 3px;

    &::before {
      @extend %absolute-pseudo;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &:hover {
      color: $green400;
    }

    &:focus {
      color: $dark500;

      &::before {
        background-color: transparent;
      }
    }
  }
}

.mixitup-control-active {
  &::before {
    background-color: $green200;
  }
}

.badge--new,
.badge--discount,
.badge--hit {
  text-transform: uppercase;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 6px;
  color: $white;
  line-height: 1;
}

.badge--new {
  background-color: $green900;
}

.badge--discount {
  background-color: $red700;
}

.badge--hit {
  background-color: $orange900;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}