%flex-between {
  display: flex;
  justify-content: space-between;
}

%absolute-pseudo {
  content: "";
  position: absolute;
}

%absolute-top-trasform {
  top: 50%;
  transform: translateY(-50%);
}

%background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%ruda-600 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

%transition{
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s, opacity 0.3s, fill 0.3s, filter 0.3s;
}
