$white: #ffffff;
$silver100: #F6F6F6;
$silver600: #C1C1C1;
$dark1000: #000000;
$dark900: #121212;
$dark800: #31352B;
$dark500: #505050;
$dark200: #4F4F4F;
$green100: #EFF6E7;
$green200: #E0EDCF;
$green900: #63A60F;
$green400: #63A60E;
$yellow900: #FFB800;
$orange900: #FF7A00;
$red700: #CF3E3B;
$fill-active: #B0B0B0;
$border: #CFCFCF;
$box-shadow: #E0EDCF;

%flex-between {
  display: flex;
  justify-content: space-between;
}

%absolute-pseudo {
  content: "";
  position: absolute;
}

%absolute-top-trasform {
  top: 50%;
  transform: translateY(-50%);
}

%background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%ruda-600 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}