.main-slider {
  &__wrapper {
    @extend %background-image;
    height: 600px;
    padding: 142px 0;
  }

  &__inner {
    @extend %flex-column;
    padding: 24px;
    width: 100%;
    border-radius: 4px;
    background-color: rgba($white, 0.80);
  }

  &__title {
    max-width: 800px;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: $dark500;
    font-size: 60px;
    line-height: 78px;
    @include line-clamp(3);
  }

  &__subtitle {
    display: block;
    color: $red700;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__btn {
    align-self: flex-start;
  }

  .slick-arrow {
    position: absolute;
    @extend %transition;
    @extend %absolute-top-trasform;
    z-index: 50;
    padding: 12px 20px;
    background-color: rgba($white, 0.80);
    border-radius: 6px;
    line-height: 1;

    &__svg {
      fill: $dark500;
    }

    &:hover {
      background-color: $green200;

      .slick-arrow__svg {
        fill: $green900;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($green400, 0.5);

      .slick-arrow__svg {
        fill: $dark500;
      }
    }

    &:active {
      background-color: rgba($white, 0.80);
      box-shadow: none;

      .slick-arrow__svg {
        fill: $green900;
      }
    }

    &__svg {
      @extend %transition;
      width: 19px;
      height: 32px;
    }
  }

  .slick-disabled {
    .slick-arrow__svg {
      fill: $silver600;
    }
  }

  .slick--prev {
    left: 60px;
  }

  .slick--next {
    right: 60px;
  }

  .slick-dots {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    position: absolute;

    li:not(:last-child) {
      margin-right: 13px;
    }

    button {
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $silver600;
      font-size: 0;
    }
  }

  .slick-active {
    button {
      background-color: $green400;
      border-color: $green400;
    }
  }
}

@include r(1000) {
  .main-slider {
    &__wrapper {
      height: 500px;
      padding: 90px 0;
    }

    &__title {
      font-size: 52px;
      line-height: 58px;
    }
  }
}

@include r(768) {
  .main-slider {
    &__wrapper {
      height: 430px;
      padding: 70px 0;
    }

    &__inner {
      padding: 20px;
    }

    &__title {
      font-size: 44px;
      line-height: 50px;
    }
  }
}

@include r(576) {
  .main-slider {
    &__container {
      margin: 0 -15px;
    }

    &__wrapper {
      height: 360px;
      padding: 60px 0;
    }

    &__inner {
      padding: 15px;
    }

    &__title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 15px;
      font-weight: 700;
      @include line-clamp(2);
    }

    &__text {
      margin-bottom: 24px;
    }

    .slick-dots {
      button {
        width: 10px;
        height: 10px;
      }
    }
  }

  .btn--slider {
    font-size: 14px;
    padding: 12px 24px;
  }
}

@include r(468) {
  .main-slider {
    &__wrapper {
      height: 320px;
    }

    &__title {
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0;
    }
  }
}