.news {
  padding-bottom: 72px;

  .title {
    margin-bottom: 0;
  }

  &__top {
    @extend %flex-between;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 8px;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 700;
    color: $green400;
    padding-bottom: 2px;
    @extend %transition;

    &::before {
      @extend %absolute-pseudo;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $green400;
      transition: background-color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 3px $white100;
    }

    &:hover {
      color: $green100;
      border-bottom-color: $green100;

      &::before {
        background-color: $green100;
      }
    }

    &:active {
      box-shadow: none;

      &::before {
        background-color: $white100;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba($black, 0.25);
  }

  &__item-link {
    font-weight: 600;
    margin: 0 18px 18px;
    line-height: 1.5;
    transition: color 0.3s;
    @include line-clamp(4);

    &:hover {
      color: $green400;
    }
  }

  &__head {
    position: relative;
    margin-bottom: 17px;
  }

  &__date {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: absolute;
    width: 65px;
    padding: 18px 0 10px;
    background-color: $white;
    left: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 4px 4px;
  }

  &__month {
    display: block;
    margin-bottom: 4px;
  }

  &__number {
    font-size: 30px;
    line-height: 1;
    @extend %ruda-600;
    display: block;
  }

  &__img {
    object-fit: cover;
  }
}