.stocks {
  text-align: center;
  background-color: $silver100;

  &__filters {
    margin-bottom: 48px;
  }

  .products-filters {
    &__item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 300px));
    grid-template-rows: 124px;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 30px;
    margin-bottom: 48px;
  }

  .product-card {
    padding: 11px;
    flex-direction: row;

    &__top {
      z-index: 5;
    }

    &__box {
      max-width: 100px;
      width: 100%;
      height: 100px;
      margin-right: 12px;
      margin-bottom: 0;

      &::after,
      &::before {
        display: none;
      }
    }

    &__inner {
      @extend %flex-column;
      width: 100%;
    }

    &__title {
      padding: 0;
    }

    &__bottom {
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &__info {
      @extend %flex-between;
      align-items: flex-end;
      width: 100%;
    }

    &__prices {
      align-items: flex-end;
      flex-direction: row;
      font-weight: 600;
    }

    &__price {
      margin-right: 12px;
      font-size: 20px;

      span {
        font-size: 14px;
      }

      &--old {
        margin-bottom: 0;
        font-size: 12px;
        margin-right: 0;
      }
    }

    &__star {
      position: relative;
      color: $dark500;
      font-weight: 700;
      padding-right: 18px;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center right;

      &::before {
        @extend %absolute-pseudo;
        top: -1px;
        right: 0;
        width: 16px;
        height: 15px;
        background-image: url('../images/icons/star.svg');
      }
    }
  }

  .condition {
    margin-bottom: 5px;
  }
}

@include r(1250) {
  .stocks {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
  }
}

@include r(1000) {
  .stocks {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include r(768) {
  .stocks {
    &__items {
      margin-bottom: 24px;
    }

    .product-card {
      &__box {
        margin-right: 0;
      }

      &__img {
        height: 100px;
      }

      &__title {
        margin-bottom: 6px;
      }
    }
  }
}

@include r(576) {
  .stocks {
    &__items {
      grid-template-columns: repeat(1, minmax(auto, 300px));
      justify-content: center;
    }

    .products-filters {
      margin-bottom: 11px;

      &__item:not(:last-child) {
        margin-right: 0;
      }
    }

    .product-card {
      &__box {
        margin-right: 12px;
      }
    }
  }
}