.benefits {
  background-color: $silver100;

  &__inner {
    display: flex;
    justify-content: center;
    padding: 48px 0 29px;
  }

  &__item {
    @extend %background-image;
    max-width: 265px;
    width: 100%;
    padding-left: 76px;
    background-size: auto;
    background-position: left top;

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 600;
  }

  &__text {
    font-size: 14px;
  }
}

@include r(1000) {
  .benefits {
    &__inner {
      padding: 30px 0;
    }
  }
}

@include r(800) {
  .benefits {
    &__inner {
      flex-direction: column;
    }

    &__item {
      max-width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}