.product-slider{
  max-width: 630px;
  width: 100%;
  border: 1px solid $silver600;
  border-radius: 4px;
  padding: 65px 0;
  margin-right: 30px;
  &__item{
    text-align: center;
  }
  &__link{
    display: inline-block;
  }
  &__img{
    margin: 0 auto;
    object-fit: cover;
  }
  .slick--prev{
    left: 22px;
  }
  .slick--next{
    right: 22px;
  }
}