.shop {
  padding: 44px 0 72px;

  &__title {
    margin-bottom: 42px;
    font-size: 42px;
    color: $dark900;
    font-family: $ruda;
    font-weight: $fw-900;
  }

  &__inner {
    display: flex;
  }

  &__filter {
    max-width: 300px;
    width: 100%;
    height: 200px;
    background-color: red;
    margin-right: 32px;
  }

  &__content {
    max-width: 960px;
    width: 100%;
  }

  &__content-top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }

  &__content-sort {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 15px;
  }

  .jq-selectbox {
    &__select {
      padding: 15px 42px 15px 11px;
      border: 1px solid $silver600;
      border-radius: 3px;
      position: relative;
    }

    &__select-text {
      width: 100%;
    }

    &__trigger {
      @extend %absolute-top-trasform;
      position: absolute;
      right: 15px;
    }

    &__trigger-arrow {
      background-image: url(../images/icons/arrow-sort.svg);
      width: 11px;
      height: 6px;
      @extend %background-image;
    }
    &__dropdown{
      background-color: $white;
      border-radius: 0 0 6px 6px;
      border: 1px solid $silver600;
      width: 100%;
    }
    li{
      padding: 7px 9px;
      &:hover{
        background-color: $green400;
        color: $white;
        cursor: pointer;
      }
    }
    .selected{
      background-color: $green400;
      color: $white;
    }
  }

  &__content-btn {
    background-color: $silver100;
    width: 47px;
    height: 47px;
    border-radius: 3px;
    padding: 6px;
    transition: box-shadow 0.3s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      .shop__content-icon {
        fill: $green400;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px $green200;
    }

    &--active {
      .shop__content-icon {
        fill: $green400;
      }
    }
  }

  &__content-icon {
    width: 35px;
    height: 35px;
    fill: $silver600;
    transition: fill 0.3s;
  }

  &__content-bottom {
    display: flex;
    justify-content: space-between;
  }
}

.shop .opened .jq-selectbox__select{
  border-color: $dark500;
  border-radius: 3px 3px 0 0;
}

.shop .focused .jq-selectbox__select{
  box-shadow: 0 0 0 4px $green200;
}

.shop-market {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 45px;

  &--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 410px;
  }

  &--list{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 162px;
  }

  .product-card__box {
    margin-bottom: 8px;
  }
  .product-card__title{
    margin-bottom: 10px;
  }
}

.product-card--list{
  padding: 8px 18px 12px 0;
  flex-direction: row;
  .product-card{
    &__top{
      top: 6px;
      left: 7px;
    }
    &__favorite{
      position: absolute;
      top: 56px;
      right: 8px;
    }
    &__box{
      max-width: 200px;
      width: 100%;
      height: 150px;
      margin-bottom: 0;
      &::before,
      &::after{
        display: none;
      }
    }
    &__img{
      width: 200px;
      height: 150px;
    }
    &__description,
    &__bottom{
      padding-right: 0;
    }
    &__description{
      margin: 0 0 14px;
    }
    &__title{
      max-width: 200px;
    }
  }
}

.pagination {
  display: flex;

  &__list {
    display: flex;
    line-height: 1;
    font-size: 18px;
  }

  &__item {
    margin-right: 6px;
  }

  &__link {
    @extend %flex-center;
    height: 48px;
    width: 48px;
    background-color: $silver100;
    border-radius: 3px;
    position: relative;
    border: 1px solid transparent;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:hover {
      border-color: $silver600;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green200;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--active {
      border-color: $dark500;

      &:focus {
        box-shadow: none;
      }
    }

    &--disabled {
      cursor: auto;

      &:hover {
        border-color: transparent;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__prev,
  &__next {
    &::before {
      @extend %absolute-pseudo;
      @extend %absolute-top-trasform;
      width: 11px;
      height: 18px;
    }
  }

  &__prev {
    margin-right: 6px;

    &::before {
      background-image: url('../images/icons/shop-arrow-left.svg');
    }
  }

  &__next {
    &::before {
      background-image: url('../images/icons/shop-arrow-right.svg');
    }
  }
}