<section class="banners section">
  <h2 class="sr-only">Скорее за покупками</h2>
  <div class="container">
    <ul class="banners__items">
      <li class="banners__item banners__item--big" style="background-image: url(images/banners/1.jpg);">
        <article class="banners__inner">
          <span class="banners__subtitle">свежайшие фрукты</span>
          <h3 class="banners__title">начни фруктовое лето всего от 99 ₽</h3>
          <a class="banners__link" href="#">перейти к покупкам</a>
        </article>
      </li>
      <li class="banners__item" style="background-image: url(images/banners/2.jpg);">
        <article class="banners__inner">
          <span class="banners__subtitle">сезонная распродажа</span>
          <h3 class="banners__title">овощепад до -50%</h3>
          <a class="banners__link" href="#">перейти к покупкам</a>
        </article>
      </li>
      <li class="banners__item" style="background-image: url(images/banners/3.jpg);">
        <article class="banners__inner">
          <span class="banners__subtitle">ням-ням</span>
          <h3 class="banners__title">свежий хлебчик</h3>
          <a class="banners__link" href="#">перейти к покупкам</a>
        </article>
      </li>
    </ul>
  </div>
</section>